spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/argoproj/argocd-example-apps
    targetRevision: HEAD
namespace: demo
argoNamespace: demo
applications:
  gosite:
    repoURL: https://smarman85.github.io/charts/
    chart: basicChart
    revision: HEAD
      #revision: 0.0.3
    overrideFile: overrides/gosite.yaml
      #overrideFile: https://raw.githubusercontent.com/smarman85/charts/main/overrides/gosite.yaml
    params:
      env: homelab
      val: testing
      version: 0.0.7

  #helm-guestbook: {}
  #helm-hooks: {}
  #helm-guestbook: {}
  #kustomize-guestbook: {}
  #sync-waves: {}
