spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/argoproj/argocd-example-apps
    targetRevision: HEAD
namespace: argoapps
applications:
  gosite:
    repoURL: https://smarman85.github.io/goSite/
    chart: gosite
    revision: "1.0.3"
