# Defaults
spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/argoproj/argocd-example-apps
    targetRevision: HEAD
namespace: argoapps
argoNamespace: argocd
helmVersion: v3

# Apps with overrides
applications:
  gosite:
    repoURL: https://smarman85.github.io/goSite/
    chart: gosite
    revision: "1.0.7"
      #overrideFile: https://raw.githubusercontent.com/smarman85/goSite/gh-pages/docs/gosite-values.yaml
    overrideFile: overrides/gosite.yaml
  helm-guestbook: {}
  helm-hooks: {}
  kustomize-guestbook: {}
  sync-waves: {}
  helm-guestbook: {}
