namespace: argoapps
helmVersion: v3
argoNamespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/argoproj/argocd-example-apps
    targetRevision: HEAD
applications:
  gosite:
    repoURL: https://smarman85.github.io/goSite/
    chart: gosite
    revision: "1.0.7"
    overrideFile: overrides/gosite.yaml
  helm-guestbook: {}
  helm-hooks: {}
