spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/argoproj/argocd-example-apps
    targetRevision: HEAD
namespace: argoapps
argoNamespace: argocd
applications:
  gosite:
    repoURL: https://smarman85.github.io/goSite/
    chart: gosite
    revision: "1.0.5"
    overrideFile: https://raw.githubusercontent.com/smarman85/goSite/gh-pages/docs/gosite-values.yaml
  helm-guestbook: {}
  helm-hooks: {}
  kustomize-guestbook: {}
  sync-waves: {}
  helm-guestbook: {}
